* { 
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body { /*changes the color of the entire page's background*/
    background-color: #d9dcd6;
}

header { /*sets styling for company header as well as nav-bar links at top of page*/
    display: flex;
    /* changed to flex to allow for scaling and better mobile layout*/
    position: relative;
    justify-content: space-between;
    /*changed justify-content to better maintain layout with scaling*/
    width: 100%;
    height: auto;
    padding: 15px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

h1 { /*styling for "Horiseon" name in header bar*/
    display: inline-block;
    font-size: 48px;
}

h2 { /*styling for main three content block headers*/
    margin-bottom: 20px;
    font-size: 36px;
}

h3 { /*styling for "Lead Generation, Brand Awarenes, etc. on right side of page */
    font-size: 18px;
    margin-top: 20px;
    /*replaced "margin-bottom" with "margin-top" to have better spacing */
    text-align: center;
}

h4 { /*styling for headline of the footer*/
    font-size: 16px;
}

h5 { /*styling for subline of the footer*/
    font-size: 14px;
}

.seo { /*styling for the letter "SEO" in company title header at top of page */
    color: #d9dcd6;
}

nav { /*styling for the nav-bar text elements in the top right of the page */
    display: flexbox;
    margin: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

nav ul { /*styling for the nav-bar text elements in the top right of the page */
    list-style-type: none;
}

nav ul li { /*styling for the nav-bar text elements in the top right of the page */
    display: inline-block;
    margin-left: 25px;
}

.background-image { /*styling for the main large banner image below the header */
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

a { /*styling for nav-bar links at top right of page */
    color: #ffffff;
    text-decoration: none;
}

p { /*styling for text in paragraphs throughout page*/
    font-size: 16px;
}

.content { /*styling for three main content blocks on mid-to-lower left hand side of page*/
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

.content-blocks { /*styling for three main content blocks on mid-to-lower left hand side of page*/
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

.content-blocks img { /*styling for three main content block images on mid-to-lower left hand side of page*/
    max-height: 200px;
}

.benefits { /*styling for smaller content blocks on mid-to-lower right hand side of page*/
    margin-right: 20px;
    margin-bottom: 32px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
    color: #ffffff;
}

.benefits img { /*styling for smaller content block images on mid-to-lower right hand side of page*/
    display: block;
    margin: auto;
    /*remove 10px margin at top and bottom, I think it looks better */
    max-width: 150px;
}

.float-left { /*styling for design and layout for images in main content blocks*/
    float: left;
    margin-right: 25px;
}

.float-right { /*styling for design and layout for images in main content blocks*/
    float: right;
    margin-left: 25px;
}

footer { /*styling for the footer content at the bottom of the page*/
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

/* Consolodating following to remove redundant code. 
Added properties to the preceding "benefits" section.

.benefit-lead {
    margin-bottom: 32px;
    color: #ffffff;
}

.benefit-brand {
    margin-bottom: 32px;
    color: #ffffff;
}

.benefit-cost {
    margin-bottom: 32px;
    color: #ffffff;
}

*/

/* Consolodating following to remove redundant code. 
Replaced with "h3" selector.

.benefit-lead h3 {
    margin-bottom: 10px;
    text-align: center;
}

.benefit-brand h3 {
    margin-bottom: 10px;
    text-align: center;
}

.benefit-cost h3 {
    margin-bottom: 10px;
    text-align: center;
}

*/

/* Consolodating following to remove redundant code.
Replaced with ".benefits img" selector.

.benefit-lead img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

.benefit-brand img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

.benefit-cost img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

*/

/* Consolodating following three classes into one due to redundancies.
Replaced with ".content-blocks" selector.

.search-engine-optimization {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

.online-reputation-management {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

.social-media-marketing {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

*/

/* Consolodating following to remove redundant code.
Replaced with ".content-blocks img" and "h2" selectors. 

.search-engine-optimization img {
    max-height: 200px;
}

.online-reputation-management img {
    max-height: 200px;
}

.social-media-marketing img {
    max-height: 200px;
}

.search-engine-optimization h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

.online-reputation-management h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

.social-media-marketing h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

*/

/* ---------------------------------END of CODE, NOTES on UPDATE HISTORY BELOW------------------------------------------ */

/*Added HTML semantic language to index file, 
and updated the corresponding elements in the CSS file*/

/*Removed reduntant code in index to better structure the file. 
(see bottom for removed code).
Also reordered the CSS elements to be more functional in grouping.
*/

/*Added "alt" accessibility to icons and images. Additionally added a "title"
to the background image to function similarly to an "alt"*/

/*Changed footer heading attributes to better fit a proper header hierachy.
Also updated CSS*/

/*Small change to add a working "title" to <head>*/

/*Made some changes to have a better overall layout, and to have a well
maintained layout even when scaling*/

/*Updated and improved CSS in response to feedback from grading staff*/